name: Build
on:
  push:
    branches: [ main, feat/* ]
    paths-ignore:
      - 'website/**'
      - '.github/workflows/docs.yml'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'website/**'
      - '.github/workflows/docs.yml'

jobs:
  build:
    strategy:
      matrix:
        jdk: [ 11, 21 ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.jdk }}
      - uses: gradle/gradle-build-action@v2
        with:
          arguments: build
