name: Release

on:
  release:
    types: [ published ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Extract version
      id: version
      run: echo "value=${GITHUB_REF_NAME#v}" >> $GITHUB_OUTPUT

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Verify Docker is running
      run: docker info

    - name: Setup gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Build and test with Gradle
      run: ./gradlew build publish --no-configuration-cache -PprojectVersion=${{ steps.version.outputs.value }}
      env:
        ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.ORG_GRADLE_PROJECT_MAVENCENTRALUSERNAME }}
        ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.ORG_GRADLE_PROJECT_MAVENCENTRALPASSWORD }}
        ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGINMEMORYKEY }}
        GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
        GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}

    - name: Upload test reports
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-reports
        path: |
          **/build/reports/tests/
          **/build/test-results/

  pages:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v4

      - name: Extract version
        id: version
        run: echo "value=${GITHUB_REF_NAME#v}" >> $GITHUB_OUTPUT

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build manual
        run: ./gradlew :manual:asciidoctor -PprojectVersion=${{ steps.version.outputs.value }}

      - name: Prepare pages
        run: |
          mkdir -p build/gh-pages
          cp manual/src/CNAME build/gh-pages/
          cp -r manual/build/docs/asciidoc/* build/gh-pages/

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build/gh-pages

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
